    .error-class_UserRegistration_1514917765 {
                        color: #a94442;
                    }

                    .required-field_UserRegistration_1514917765 {
                        color: #a94442;
                    }

                    .label-class_UserRegistration_1514917765 {
                        color: #000000 ;
                    }